html,body{
  margin: 0;
  background-color: #f2f2f2 !important;
}

.chatLog, .scriptMenu{
  padding: 1rem 0px 1rem 0px !important;
}

#chatHistory, #scriptContainer{
  height: 75vh;
  margin-bottom: 0px;
  overflow: auto;
  word-wrap: break-word;
}

#chatHistory::-webkit-scrollbar {
    width: 0px;
}

.item.script,.item.main{
  min-height: 40px;
  font-size: 1.1em;
}

.item.script {
    color: #0051e1 !important;
}

.window.close.outline{
  float: right;
  color: #d8dbdf;
}

.window.close.outline:hover{
  color: #c0c3c6;
}

.large.text{
  font-size: 1.1rem;
}

.wide{
  padding: 0px;
}

.brand{
  border-radius: 50%;
}

h2.ui {
  text-align: center;
}

.guess{
  display: flex;
  margin: 10px;  
}

.guessRow,.operatorRow{
  padding-bottom: 0px !important;
}

.time{
  color: #a8aaad;
  font-size: 0.9em;
}

.operator{
  display: flex;
  margin: 10px; 
  justify-content: flex-end;
}

.guessMsg{
  background-color: #4b8fff;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  max-width: 70%;
}

.operatorMsg{
  display: flex;
  background-color: #f1f4f8;
  color: #4b4b4b;
  border-radius: 10px;
  padding: 10px;
  max-width: 70%;
}

.icon{
  margin-right: 10px;
  height: 35px;
  width: 30px;
}
